
@{
    ViewBag.Title = "Index";
}

<h2>Colaboradores <a href="/Colaborador/Create" class="btn btn-success">Novo Colaborador</a></h2>

<table class="table">
    <thead>
        <tr>
            <td>
                Código
            </td>
            <td>
                Nome
            </td>
            <td>
                Cargo
            </td>
            <td>
                Área
            </td>
            <td>
                Opções
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                01
            </td>
            <td>
                Lucas GPlay
            </td>
            <td>
                Gamer
            </td>
            <td>
                TI Gamer
            </td>
            <td>
                <a href="/Colaborador/Editar?id=1" class="btn btn-warning">Editar</a>
                <a href="/Colaborador/Exibir?id=1" class="btn btn-primary">Exibir</a>
                <a href="/Colaborador/Deletar?id=1" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        <tr>
            <td>
                02
            </td>
            <td>
                Steve Jobs
            </td>
            <td>
                Dono da Apple
            </td>
            <td>
                TI Apple
            </td>
            <td>
                <a href="/Colaborador/Editar?id=1" class="btn btn-warning">Editar</a>
                <a href="/Colaborador/Exibir?id=1" class="btn btn-primary">Exibir</a>
                <a href="/Colaborador/Deletar?id=1" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
    </tbody>
</table>

