
@{
    ViewBag.Title = "Create";
}

<h2>Cadastro Área</h2>

<div>
    <form action="/Area/Create" method="post">
        <label>Descrição: </label>
        <input type="text" id="descricao" name="descricao" required></input>
        <br />
        <br />
        <a href="/Area/Index" class="btn btn-primary">Voltar</a>
        <button type="submit">Salvar</button>
    </form>
</div>

