
@{
    ViewBag.Title = "Início";
}

<h2>Cadastrar área</h2>

<div>
    <a href="/Area/Create?id=1" class="btn btn-success">Criar</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Opções
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                01
            </td>
            <td>
                TI
            </td>
            <td>
                <a href="/Area/Edit?id=1" class="btn btn-warning">Editar</a>
                <a href="/Area/Details?id=1" class="btn btn-info">Exibir</a>
                <a href="/Area/Delete?id=1" class="btn btn-danger">Remover</a>
            </td>
        </tr>
        <tr>
            <td>
                02
            </td>
            <td>
                Disney+
            </td>
            <td>
                <a href="/Area/Edit?id=1" class="btn btn-warning">Editar</a>
                <a href="/Area/Details?id=1" class="btn btn-info">Exibir</a>
                <a href="/Area/Delete?id=1" class="btn btn-danger">Remover</a>
            </td>
        </tr>
    </tbody>
</table>