@model TDSAlmoxarifado.Models.AREA
@{
    ViewBag.Title = "Delete";
}

<h2>Excluindo Área</h2>

<div>
    <form action="/Area/DeleteConfirmar?id=@Model.AREID" method="post">
        <div>
            <label>Código: </label>
            <label>@Model.AREID</label>
        </div>
        <div>
            <label>Descrição: </label>
            <label>@Model.AREDESCRICAO</label>
        </div>
        
        <br />
        <br />
        <a href="/Area/Index" class="btn btn-primary">Voltar</a>
        <button type="submit" class="btn btn-danger">Excluir</button>
    </form>
</div>

