
@{
    ViewBag.Title = "Index";
}

<h2>Cadastrar Área <a href="/Area/Create" class="btn btn-success"></a></h2>

<table class="table">
    <thead>
        <tr>
            <td>
                Código
            </td>
            <td>
                Descrição
            </td>
            <td>
                Opções
            </td>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>
                01
            </td>
            <td>
                TI
            </td>
            <td>
                <a href="/Area/Editar?id=1" class="btn btn-warning">Editar</a>
                <a href="/Area/Exibir?id=1" class="btn btn-primary">Exibir</a>
                <a href="/Area/Deletar?id=1" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        <tr>
            <td>
                02
            </td>
            <td>
                Disney +++
            </td>
            <td>
                <a href="/Area/Editar?id=1" class="btn btn-warning">Editar</a>
                <a href="/Area/Exibir?id=1" class="btn btn-primary">Exibir</a>
                <a href="/Area/Deletar?id=1" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
    </tbody>
</table>

