@model IEnumerable<TDSAlmoxarifado.Models.AREA>
@{
    ViewBag.Title = "Index";
}

<h2>Cadastrar Área <a href="/Area/Create" class="btn btn-success">Novo</a></h2>

<table class="table">
    <thead>
        <tr>
            <td>
                Código
            </td>
            <td>
                Descrição
            </td>
            <td>
                Opções
            </td>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AREID
                </td>
                <td>
                    @item.AREDESCRICAO
                </td>
                <td>
                    <a href="/Area/Edit?id=@item.AREID" class="btn btn-warning">Editar</a>
                    <a href="/Area/Details?id=@item.AREID" class="btn btn-primary">Exibir</a>
                    <a href="/Area/Delete?id=@item.AREID" class="btn btn-danger">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

